<!DOCTYPE html>
<html>
    <head>
        <title>Force.com Tooling API Inspect</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<h2>List of Apex Classes</h2>
    <h4>You have <%= @classes['size'] %> Classes in your org </h4>
		<table class="classeslist">
    <% if @classes['records'] %>
      <tr>
      <th>Class Name</th>
	  <th>NameSpace</th>
	  <th>Api Version</th>
	  <th>Is Valid</th>
	  <th>Staus</th>
	  <th>Id</th>
	  <th>Length</th>
      </tr>
      <% @classes['records'].each do |record|  %>
        <tr>
			<td>
				<%= record['Name'] %> 
			</td>
			<td>
				<%= record['NamespacePrefix'] %> 
			</td>
			<td>
				<%= record['ApiVersion'] %> 
			</td>
			<td>
				<%= record['IsValid'] %> 
			</td>
			<td>
				<%= record['Status'] %> 
			</td>
			<td>
				<%= record['Id'] %> 
			</td>
			<td>
				<%= record['LengthWithoutComments'] %> 
			</td>
		</tr>
      <% end %>
    <% end %>      
		</table>
		<br/>
		<a href="logout" id="logout">Logout</a>
	</body>
</html>
